.container-box {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.form {
  width: 400px;
}
form {
  width: 450px;
}
.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
}

input {
  width: 100%;
}

.btn-common {
  font-family: Arial;
  font-size: 17px;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
}

.btn-next {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #004773);
  color: #ffffff;
  margin-right: 25px;
}
.btn-cancel {
  background: #f7fcff;
  background-image: linear-gradient(to bottom, #f7fcff, #828082);
  color: #000000;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
}
.text-grey {
  color: rgb(114, 114, 114);
}
.heading-text {
  font-family: math;
  font-weight: 300;
  font-size: xx-large;
}
.heading-text-smaller {
  font-family: math;
  font-weight: 180;
  font-size: x-large;
}
.input-feild {
  margin-bottom: 15px;
  width: 150%;
  height: 30px;
}
.buttonSets {
  display: flex;
  justify-content: flex-end;
}
.text-blue {
  color: green;
}
.container-dashboard {
  margin: 0 auto;
}
.grid {
  width: 350px;
}
.shadow {
  border: 1px solid black;
}
.mb30 {
  margin-bottom: 30px;
}
.pd20 {
  padding-top: 20px;
}
.active {
  font-weight: 600;
}
.listed {
  list-style-type: none;
  height: 520px;
  margin: 0 auto;
  padding-top: 20px;
  list-style-type: none;
}
.leftnav {
  margin-left: 0px;
}
.mb20 {
  margin-bottom: 20px;
  cursor: pointer;
}
.list {
  width: 150%;
}
.text-center {
  padding-top: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.dashboard-heading {
  display: flex;
  padding: 0 30px;
  justify-content: center;
  padding: 15px 0;
  padding-left: 10px;
}
.dashboard-heading title {
  padding-right: 50px;
}
.button {
  margin-top: 10px;
  margin-right: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.title {
  margin-left: -400px;
}
.fixed {
  position: fixed;
}
.input-button {
  text-decoration: none;
  color: #fff;
  background: green;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 0;
  margin-left: 300px;
  font-size: 1rem;
  width: 100px;
  margin-top: 15px;
}
.text-center {
  justify-content: center;
}

.shadow1 {
  border: 1px solid black;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .leftnav1 {
    position: absolute;
    border: 1px solid black;
    height: 200px;
    width: 50px;
    background-color: #fff;
  }
  .leftnav {
    display: none;
    border: 1px solid black;
  }
  .shadow1 {
    border: none;
  }
}

@media (min-width: 100px) and (max-width: 1024px) {
  .leftnav1 {
    position: absolute;
    border: 1px solid black;
    height: 200px;
    width: 50px;
    background-color: #fff;
  }
  .leftnav {
    display: none;
    border: 1px solid black;
  }
  .shadow1 {
    border: none;
  }
}
