.container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  width: 400px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
}

input {
  width: 100%;
}

.btn-common {
  font-family: Arial;
  font-size: 17px;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
}

.btn-next {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #004773);
  color: #ffffff;
  margin-right: 25px;
}
.btn-cancel {
  background: #f7fcff;
  background-image: linear-gradient(to bottom, #f7fcff, #828082);
  color: #000000;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
}
.text-grey {
  color: rgb(114, 114, 114);
}
.heading-text {
  font-family: math;
  font-weight: 300;
  font-size: xx-large;
}
.heading-text-smaller {
  font-family: math;
  font-weight: 180;
  font-size: x-large;
}
.input-feild {
  margin-bottom: 15px;
  width: 150%;
  height: 30px;
}
.buttonSets {
  display: flex;
  justify-content: flex-end;
}
.text-blue {
  color: blue;
}
.container-dashboard {
  width: 950px;
  margin: 0 auto;
}
.shadow {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.mb30 {
  margin-bottom: 30px;
}
.pd20 {
  padding-top: 20px;
}
.active {
  font-weight: 600;
}
.listed {
  list-style-type: none;
  height: 100vh;
  width: 110%;
  margin: 0 auto;
  padding: 20px;
  list-style-type: none;
}
.mb20 {
  margin-bottom: 20px;
}
.list {
  width: 150%;
}
.text-center {
  padding-top: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
